/* Comentário no CSS */

/* Seletor de elemento  */
/* p é o seletor */
/* font-size é propriedade, color também */
body {
    background-color: #30302e;
    color: #ffffff;
    font-family: Verdana;
    /* espaço interno */
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    /* margem inferior */
    margin-bottom: 15px;
    color: #8cc9e4;
    padding: 10px;
}

section p {
    color:orange;
}

/* seletor de CLASSE */
.destaque {
    background-color: #ffd700;
    color: #000000;
    padding: 10px;
    /* comentar espessura da borda, tipo da borda (sólida, tracejada...) e a cor dela */
    border-left: 5px solid #ff6347;
    /* arredonda bordas do elemento */
    border-radius: 3px;
}

/* seletor de ID */
#unico {
    background-color: #8cc9e4;
    color: #39392e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 100px;
}

.post {
    background-color: #3e3e30;
    padding: 20px;
    margin: 20px 0px;
    /* arredondamento dos cantos */
    border-radius: 5px;
}

.post h2 {
    color: #ffd700;
}

h4, h5, h6 {
    color: #4caf50;
    margin-top: 15px;
    margin-bottom: 10px;
}

.observacoes {
    background-color: #252523;
    padding: 20px;
    border: 2px solid #8cc9e4;
    border-radius: 8px;
    margin-top: 30px;
}

ul {
    margin-left: 30px;
    margin-top: 10px;
}

li {
    margin-bottom: 8px;
}

.observacoes h3 {
    color: #8cc9e4;
}
/* margin é o espaço de fora do elemento, padding é o espaço interno */